:root{
    --clr-verde: #198754;
}
body{
    background-color: azure;
}
#pMensaje {
    text-align: center;
    color: whitesmoke;
}

#divBuscar {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      width: 100 %;
      max-width: 400 px; 
}

#btnNav a , #btnLupa {
      font-size: 1.3 rem;
      margin-left: 15 px;
      text-decoration: none;
      color: #000;
}

#btnNav a:hover, #btnLupa:hover {
      color: var (--clr-verde);
}   

.carrusel {
   
  width: 100 vw;
  position: relative;
  left: 50 %;
  right: 50 %;
  margin-left: -51 vw;
  margin-right: -51 vw;
}

.card {
  position: relative;
  width: 18 rem;
  border: none; 
  background-color: azure;
}

.card img {
  width: 100 %;
  height: auto;
  display: block;
}

#productosTitulo {
  position: absolute;
  bottom: 10 %; 
  left: 0;
  width: 100 %;
  color: var (--clr-verde);
  padding: 0.5 rem;
  margin: 0;
  text-align: center;
  font-size: 1.2 rem;
  font-weight: bold;
}

#destacadosTitulo {
  color: var(--clr-verde);
  text-align: center;
} 

#destacadosTexto {
  text-align: left;
  font-size: small;
  padding: 2 px;
}


#destacados .card {
  border: 0;
  background: azure;
  box-shadow: 0 2 px 6 px rgba (0,0,0,0.08);
}

#destacados .card-img-top {
  height: 200 px;
  object-fit: unset;
}

#destacados .carousel-item .row {
  align-items: normal;
}

#carrusel-prev {
  left: -5 rem;
  width: 2 rem;
  margin: 6 rem;
  border: none;
  border-radius: 50 px;
  font-size: 16 px;
}

#carrusel-next{
  right: -1 rem;
  width: 2 rem;
  margin: 6 rem;
  border: none;
  border-radius: 50 px;
  font-size: 16 px;
}
#carrusel-prev:hover, #carrusel-next:hover {
  background-color: var (--clr-verde);
}

.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60 vh;
}

#frmRegistro {
  border: 2 px solid var (--clr-verde);
  border-radius: 10 px;
  padding: 30 px;
  background-color: #f8f9fa; 
  width: fit-content;
  max-width: 100 %; 
}

option{
  text-align: center;
}


#footer {
        background-color: var (--clr-verde);
}
.icono{
      font-size: 1.3 rem;
      margin-left: 15 px;
      text-decoration: none;
}
.icono:hover{
    color: black;
}     

#ayuda a{
    text-decoration: none;
    color: aliceblue;
}    

.derechos {
    text-align: center;
    color: aliceblue;
    background-color:#105133;
}

