:root{
    --clr-verde: #198754;
}
body{
    background-color: azure;
}
#pMensaje {
    text-align: center;
    color: whitesmoke;
}

#divBuscar {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 400px; 
}

#btnNav a , #btnLupa {
      font-size: 1.3rem;
      margin-left: 15px;
      text-decoration: none;
      color: #000;
}

#btnNav a:hover, #btnLupa:hover {
      color: var(--clr-verde);
}   

.carrusel {
   
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -51vw;
  margin-right: -51vw;
}

.card {
  position: relative;
  width: 18rem;
  border: none; 
  background-color: azure;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

#productosTitulo {
  position: absolute;
  bottom: 10%; 
  left: 0;
  width: 100%;
  color: var(--clr-verde);
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#destacadosTitulo {
  color: var(--clr-verde);
  text-align: center;
} 

#destacadosTexto {
  text-align: left;
  font-size: small;
  padding: 2px;
}


#destacados .card {
  border: 0;
  background: azure;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#destacados .card-img-top {
  height: 200px;
  object-fit: unset;
}

#destacados .carousel-item .row {
  align-items: normal;
}

#carrusel-prev {
  left: -5rem;
  width: 2rem;
  margin: 6rem;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

#carrusel-next{
  right: -1rem;
  width: 2rem;
  margin: 6rem;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}
#carrusel-prev:hover, #carrusel-next:hover {
  background-color: var(--clr-verde);
}


#footer {
        background-color: var(--clr-verde);
}
.icono{
      font-size: 1.3rem;
      margin-left: 15px;
      text-decoration: none;
}
.icono:hover{
    color: black;
}     

#ayuda a{
    text-decoration: none;
    color: aliceblue;
}    

.derechos {
    text-align: center;
    color: aliceblue;
    background-color:#105133;
}